.mat-form-field {
    width: 100%;
}

.flexLayout-1632425701824, .flexLayout-1632414938073 {
    width: 100%;
}

.stepper-1632414938276 {
    margin: 0 10%;
}

.mat-radio-button {
    margin: 10px 0 0 10px;
}
